@keyframes linemove{
	0%{
		@include translate(50,50%);
	}
	25%{
		right: 0;
		@include translate(0,50%);
	}
	50%{
		
		right: 50%;
		@include translate(50%,50%);
	}
	75%{
		right: 100%;
		@include translate(100%,50%);
	}
	100%{
		right: 50%;
		@include translate(50%,50%);
	}
}
@keyframes progress{
	from{
		width:0%;
	}
}